@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes profileMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-menu {
  animation: profileMenu 250ms ease-out;
}